body{
    /*remove all margin
    remove all padding*/
    margin: 0;
    padding: 0;
}
main{
    /*set padding to 16px*/
    padding: 16px;
}
footer{
    /*set top and bottom padding to 24px
    set left and right padding to 0px*/
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0;
    padding-left: 0;
}
img{
    /*height = 200px*/
    height: 200px;
}
nav{
    /*
    black bottom border
        1px
    padding all the way around
        16px*/
    border-bottom: 1px black;
    padding: 16px;
}
